[2016-02-14 02:59] jrwagz opened #2 "Incorrect Normalized Power, TSS, and Intensity calculated for a ride."
First of all, thank you for this plugin, it's super awesome!  I use it daily and it's super useful.

Here is a ride that for some reason is getting it's Normalized Power, and thus Intensity, and TSS calculated incorrectly.  https://www.strava.com/activities/492879155

The "correct" Normalized Power is 285, however Strava Sauce is calulating it as 260.  This is the first time I've ever seen it get

[2016-02-14 07:10] mayfield commented on #2
Hi Justin,

My guess is that Strava did some tweaks to the power data that are leading to discrepancies.  The GPX export from strava (and the source file) don't always line up with the data available inside the strava site (which sauce ultimately feeds from).  Some of this can be related to Strava doing its own "Moving time" calculations that may produce zero watt records that were not recorded by

[2016-02-14 07:23] jrwagz commented on #2
Thanks @mayfield , I think you are right that Strava is doing some strange massaging of the data.  I took a look at your method that calculates NP (https://github.com/mayfield/strava-sauce/blob/master/src/lib.js#L245) and it looks spot on.  Do you have an easy way of extracting the power values that Strava is providing to your plugin?  If we get a hold of that then we could compare it to the raw w

[2016-02-14 07:46] mayfield commented on #2
Hi @jrwagz,

[watt_stream.txt](https://github.com/mayfield/strava-sauce/files/129570/watt_stream.txt)

Incidentally, I tried loading the gpx file you attached in GC and it didn't show me watt data.  However I haven't used GC in ages, so it might be my setup.

[2016-02-14 07:59] mayfield commented on #2
Just from a quick eyeballing, your spreadsheet data looks drastically different from the stream in Strava.  So I'm guessing this is out of my hands.   One theory is that GPS data may have been suspect leading to bouts of what appeared to be non-moving data.  So Strava may have been discrediting certain sections and then zero-padding others to compensate.  Regardless, I don't know that there is muc

[2016-02-14 21:30] jrwagz commented on #2
@mayfield , I think you are right, this looks like Strava is doing something to the watt data, and that might be because of some GPS inaccuracies.  I'm going to investigate further to see if I can validate that fact, however at this point I don't believe there is anything wrong with the plugin, so I'll mark the issue as closed.

I will however still update this with my findings as I think you may

[2016-02-14 21:32] jrwagz commented on #2
Here is why I think there may be something to your theory about there being GPS glitches.  When I import the ride to Golden Cheetah and view it's map view, I see this:

![image](https://cloud.githubusercontent.com/assets/498172/13036562/6470c400-d31f-11e5-9fdd-2daf6ca962c8.png)

![image](https://cloud.githubusercontent.com/assets/498172/13036559/5fa20a06-d31f-11e5-9fdb-d9cf95778518.png)

[2016-02-14 21:38] jrwagz commented on #2
Bingo, looks like the GPS data must have lost it's mind periodically:

![image](https://cloud.githubusercontent.com/assets/498172/13036588/2e87e976-d320-11e5-9563-23ba810c563d.png)

[2016-02-14 22:42] jrwagz commented on #2
It looks like this is possibly an artifact of the "stop detection" feature of Cyclemeter, if I learn anything more I'll post it here.

I also did an experiment where I disabled "stop detection", re-exported the ride from Cyclemeter (since stop detection is only applied on export) and uploaded to a Strava account, however the normalized power still showed about 20-25w low on Strava and Strava Sauce

[2016-02-17 16:37] mayfield commented on #2
Very interesting findings Justin.  Just to be sure, TP and Cyclemeter are not set to ignore zeros I assume?

[2016-02-17 17:34] jrwagz commented on #2
I don't recall seeing any setting about that, however I think that ignoring zero power values would likely increase the 30s average power numbers, and therefore cause NP to be higher, although it would also reduce the overall workout time, which might offset the overall affect to TSS.  Also, "the book" doesn't say anything about ignoring zeroes, so any software that does, would be straying from th

[2016-02-21 05:31] jrwagz opened #3 "Power dropouts in Critical Power calculations, but not in ride analysis"
Today's ride on Strava has some really strange behavior going on, specifically the numbers used in the critical power calculations have power dropouts, that aren't actually in the real data, thus causing the number to be quite skewed.

![image](https://cloud.githubusercontent.com/assets/498172/13201130/2a8cb182-d819-11e5-9c4e-af500bd78182.png)

Strava URL: http://www.strava.com/activities/49822503

[2016-02-21 19:28] mayfield commented on #3
That is strange and unexpected.  Especially considering this section looks like it's longer than 5 mins without drop outs and an avg over 400.. http://www.strava.com/activities/498225031/analysis/1059/1183

[2016-02-21 19:41] mayfield commented on #3
I think I know what's going on.  The critical power calculation I use is less forgiving of gaps in recording data.  It makes assumptions that your recording equipment will record one sample per second and treats exceptions to this as zero padding.  See: https://github.com/mayfield/strava-sauce/blob/master/src/lib.js#L234

I assume this was recorded using the equipment your mentioned in your other

[2016-02-21 20:11] mayfield commented on #3
Here are the gaps > 5 seconds from your particular ride.

[dropouts.txt](https://github.com/mayfield/strava-sauce/files/139851/dropouts.txt)

The median is 7 seconds and mode is 6;  Both are just outside the 5 second max gap in this sample.  So I might just play with making the max gap bigger.  I suppose its main intent was to prevent abuse so I could entertain it being much larger.  Still need to

[2016-02-21 21:27] jrwagz commented on #3
Thanks @mayfield for looking into this.  You are correct, I used my iPhone6 running the Cyclemeter application to record this data, which is the same as last weeks ride.  This week, I disabled their auto-stop calculations on export so we don't see the GPS strangeness we did last week.

I had assumed that it always recorded every second, I will get in contact with them to see what they expect the r

[2016-02-22 05:26] jrwagz commented on #3
Is there a particular reason that you aren't interpolating the values in these cases?  It appears that this is what Strava is doing.

I have done a bit of digging (opened up the database on the backend of Cyclemeter) and found that most samples are stored in the database at 2 second intervals.  (see raw DB export here in csv format)
[sensorData_426.csv.zip](https://github.com/mayfield/strava-sauce

[2016-02-22 06:06] mayfield commented on #3
Hi @jrwagz.  I've not considered any sort of interpolation (yet).  The zero padding is mostly to prevent fraud.  Not necessarily intentional fraud but a case where doing hillclimbs with breaks might result in stupendous CP values even though large chunks of rest was taking place in between.

Given a moment to think about it, my initial worry would be about interpolation being too specific to stead

[2016-02-22 06:48] jrwagz commented on #3
So my belief that Strava interpolates the sensor values is based on the visual lines drawn in their graphs, and the fact that the average shown in the ride analysis section was nearly 50w greater than in the critical power section.

That belief is however put in question based on your comment that you override the average value in the ride analysis section.

All this however begs one really big qu

[2016-02-22 07:16] mayfield commented on #3
Re: the graph.  That makes sense.  I'm not sure exactly how they render dropouts now that you mention that.  I'm tempted to load some crazy data into strava and see what they do when a huge gap occurs between two very high readings.

The analysis avg calc doesn't zero-pad gaps so it can be different than the CP calc method.  It's just an average of the samples for a given selection.  Oddly enough,

[2016-05-11 18:07] mayfield opened #4 "Inline comments appear as [object Object]"
Strava changed the format for comments internally;  Need to update the template accordingly.

[2016-05-11 19:19] #4 closed

[2016-05-11 19:20] #3 closed

[2019-11-08 07:04] tomglynch opened #5 "NP only shows on full activity and not when only a portion is selected"
In a ride analysis, the normalised power for the whole ride is shown as such:
![image](https://user-images.githubusercontent.com/17879963/68456454-e7a24780-0251-11ea-9714-ee29b3964a8d.png)

However, if you select only a portion of the ride the np value disappears.

This could potentially be quite a quick fix, so I'm submitting an issue. If it's rather complex I am happy to take a look at your code

[2019-11-08 17:09] mayfield commented on #5
Hey Tom,

NP should work for any durations over 20 minutes.  Andy Coggan doesn't recommend NP for anything less than about 20 minutes so the calcs only work with 1000 data points.  Are you not seeing it display for long selections too?

Here's the snippet of code...
![image](https://user-images.githubusercontent.com/139316/68496509-c456a880-020f-11ea-84c5-63ce5c5e8c1b.png)

[2019-12-19 17:41] #5 closed

[2019-12-19 22:48] mayfield commented on #2
Looking back into these calcs and finding some bugs with respect to CP calcs with irregular sample rates and also when there are data gaps (periods large enough that we need to zero pad to avoid false high readings).  Working on a safer more accurate algo now.

[2019-12-19 23:40] tomglynch commented on #5
Good call, I am seeing it for longer selections after giving it a go. Thanks for the info and sorry I didn't reply earlier, just forgot to reply. Cheers :)

[2019-12-20 01:58] mayfield commented on #2
I think I've fixed some of the bugs related to this issue.

Should be addressed in the next release.

[2019-12-20 01:58] #2 closed

[2019-12-26 22:18] mayfield opened #6 "VAM calculation for selections assumes 1 second sampling"
Need to use time stream to get the real period for VAM calculations:  Rides using BKool devices are all sorts of wack.

[2020-01-14 18:23] #6 closed

[2020-02-05 10:41] metyl opened #7 "Missing FTP for non premium Strava user"
It was working before.

[2020-02-05 16:18] mayfield commented on #7
I turned off the behavior of defaulting to 200 when it was unset.  Is that what you're seeing?  You can still override the value by clicking on it.

[2020-02-06 09:24] metyl commented on #7
I'm seeing `0` which is fine if it was not set by the user but previously it shows value set by user even if the user don't have premium account, now it shows `0`.

Take my example https://www.strava.com/activities/3071940863 I had FTP set to 285 when I had premium account but now it show 0 and I'm not premium user right now. Maybe Strave removed it for ?

[2020-02-06 18:55] mayfield commented on #7
Interesting, so this is your activity which has (or had FTP) set at one point.  There was one corner case for FTP detection that I altered because I couldn't validate that it existed.  This is probably the case with your configuration.  So let me take a look at this scenario more closely.   It might be a regression.

[2020-02-06 19:17] mayfield commented on #7
Turns out I would need to setup a new account, subscribe, set the FTP then unsubscribe.   Can you do me a solid and run these two commands in the Chrome dev tools console?   I think we can narrow this down if you share the results of these two console commands.  Just go to the activity you sent me above, right click anywhere on the page and select `Inspect` then choose the `Console` tab and run ea

[2020-02-07 17:29] MarkEdward opened #8 "Chronological Feed Bug?"
Hi, nice work on the plugin, but have you found any problems with the chronological feed? I'm seeing activities from yesterday mixed in between activities from today.

Is this down to upload dates possibly? (Obviously I'm posting an issue before bothering to look at the code, like the lazy sod I am!)

I'd also (guess) that this is probably quite a hard feature to achieve, as Strava's magic orderin

[2020-02-07 17:49] mayfield commented on #8
No worries on source code review! :smile:

It's probably (hopefully) as you suspected that the upload date from those few folks is more recent compared to the time when the activity was ridden.  In the case of manual uploads this could just be delayed by how long it took the user to get to a computer.

The only consistent timestamp value I can find to work with (that isn't based on locale specific

[2020-02-10 09:18] metyl commented on #7
Sure, I can be Your QA ;)
Seems to work - got proper value of FTP in console.

[2020-02-12 12:10] metyl commented on #7
So @mayfield will You add fix for it?

[2020-02-12 18:09] mayfield commented on #7
@metyl Already in the queue.  I implemented a change based on what I suspected was happening.  You verified that the patch will work.  It will be in the next release, thank you!!

[2020-02-12 18:09] #7 closed

[2020-02-12 18:10] mayfield commented on #8
@MarkEdward let me know if you think were on the same page and I can close this issue.  If you think there is still an issue let me know.

[2020-02-13 11:02] MarkEdward commented on #8
Hi Justin, please feel free to close it.

Your description of the `updateAt` field explained what I was seeing perfectly. Thanks for the reply.

PS - I've not really contributed to many projects on GitHub, but as a web developer with a keen interest in Strava, I'd be happy to help with the project if you've got any (small-ish) outstanding feature ideas?

[2020-02-20 17:25] mayfield commented on #8
Hey @MarkEdward I actually found a way to sort by start time or updated (upload) time.  So the next release (or current firefox release) will have an option to choose either one.

Cheers!

PS: I'll ping you if I ever get a demonstrable task list going. :)   Right now I'm just trying to add good Firefox mobile support so I'm hacking and slashing quite a bit.

[2020-02-20 17:25] #8 closed

[2020-02-20 17:27] mayfield opened #9 "Recent update appears to be covering drop-down segment data with two orange boxes (to export the ride, etc)."
Submitted in chrome web store review:

Need a bit more info but sounds like something has absolute positioning and is layering differently than I see for some platforms/devices..

[2020-02-20 22:29] mayfield commented on #9
Possibly this..
![image](https://user-images.githubusercontent.com/139316/74985937-bf4fea80-53f5-11ea-8592-c5dee561d08c.png)

When the peak info table is short and your upper menu is short (non summit) the menu will slip the top values for your own activities.   If this is the issue, I have a fix.

[2020-02-22 00:26] mayfield opened #10 "support swims"
Context from reddit friendly...

[2020-02-22 02:11] mayfield commented on #10
Prelim support.. Need to use `pageView.activity().get('speedUnit')` for the pace values.  This will come in handy for `Other` activity support as well where Nordic skiing is `mpm` but downhill skiing is `mph`.

![image](https://user-images.githubusercontent.com/139316/75084508-b6d2df00-54dd-11ea-9042-2fdcf15bb903.png)
![image](https://user-images.githubusercontent.com/139316/75084514-bfc3b080-54dd

[2020-02-27 23:20] mayfield commented on #10
Calling this done for now.  Future work I'll do as enhancements.

[2020-02-27 23:20] #10 closed

[2020-03-11 14:33] metyl commented on #7
`v5.2.1` has it, thanks!

[2020-03-11 14:38] metyl opened #11 "Use accurate weight"
Strava stores weight with two digits precision e.g. `74.91`, can this weight be presented and used to W/kg calculations?

[2020-03-11 18:39] mayfield commented on #11
+1  Will look into this this week.

Cheers!

[2020-03-11 18:40] mayfield commented on #9
I believe this is resolved.

[2020-03-11 18:40] #9 closed

[2020-03-24 19:54] mayfield commented on #11
Looks like the weight is always stored without rounding and when used for w/kg it is not using the rounded value.  The presentation of the weight is however rounded to the nearest whole number.  For imperial numbers this isn't that big a deal but kg it's probably more annoying.  I'll change the presentation to include 1 decimal place of precision in the presentation.

[2020-03-24 21:34] mayfield commented on #11
Fixed

[2020-03-24 21:34] #11 closed

[2020-08-01 22:19] JordivanGiezen opened #12 "Category estimations wildly inaccurate"
Was scrolling through the rides uploaded by the guys who raced Strade Bianche today and noticed that Wout van Aert's winning effort was ranked as a 'Cat 2' and Alex Dowsett's (with power data and not using Strava's guesstimation) effort as a 'cat 4'. Both these category estimates don't feel right ;)
![unknown 1](https://user-images.githubusercontent.com/9072835/89111412-c0318180-d455-11ea-8b79-6f2

[2020-08-01 22:27] mayfield commented on #12
For extremely long efforts it's pretty variable.  I'm considering just disabling it for anything over 90 or 120 minutes.  Probably the only way to get a high ranking for efforts this long would be in a triathlon.

[2020-11-30 07:20] CarlosWilkes opened #15 "Exported TCX no longer compatible with Golden Cheetah"
My rides automatically upload to Strava, and I use the 'Export TCX' feature from Sauce so I can then import them into Golden Cheetah. Prior to version 7.0.0 this seemed to work fine.

However, it seems like something about the exported TCX file makes it no longer compatible with Golden Cheetah. Upon import it says the ride has a duration of 1 second and a distance of 0. The TCX filesize looks righ

[2020-11-30 07:45] mayfield commented on #15
Well that is a bummer.   I actually fixed lap handling for TCX files when
imported into Garmin Connect.   However I'd rather have GC working properly
so I'll probably revert that. I'll send you a build as soon as I'm done so
you don't have to wait for the store to update (sometimes takes days for
them to reveiew).

Thanks for reporting it.
JM

On Mon, Nov 30, 2020, 12:20 AM CarlosWilkes <notificat

[2020-11-30 09:29] mayfield commented on #15
Hi @CarlosWilkes, fixed the issues.  Attached is a build you can try if you don't want to wait for the next release.  But as soon as I can I'll publish this fix.  Thanks!  Also this fix has laps working properly in GC too.  So all good.  I just messed up the Lap start time attribute and Garmin Connect didn't care, but GC does.
[sauce-chromium-8a25837.zip](https://github.com/SauceLLC/sauce4strava/f

[2020-11-30 09:55] CarlosWilkes commented on #15
@mayfield Thanks, this new build fixes the TCX export with GC!

Laps still seem to be missing though. Today I did a ride with 5 laps (as shown in Strava). The exported TCX only has one <lap></lap> though, and I see no laps when imported into GC.

[2020-11-30 09:57] mayfield commented on #15
Can you send me the URL for the activity?

[2020-11-30 10:00] mayfield commented on #15
I should add, that laps are not exported when using the TCX export from the analysis box.  I'd have to do more work to figure out all the overlapping areas since you can make custom selections in that context.  Not impossible, but currently I'm only doing lap exports from the full activity export (via the left nav menu).

[2020-11-30 10:07] CarlosWilkes commented on #15
Yeah I'm talking about the entire activity Export TCX feature. You can find my activity here: https://www.strava.com/activities/4410635959

[2020-11-30 10:33] mayfield commented on #15
@CarlosWilkes I think I see what's happening there and did another patch.  The lap efforts don't load in every page context.  So I'm forcing them to fetch from the network.  Also I fixed another issue when trying to export someone else's activities with privacy zones.   New build attached..

[sauce-chromium-bd81c7d.zip](https://github.com/SauceLLC/sauce4strava/files/5615384/sauce-chromium-bd81c7d.

[2020-11-30 10:56] CarlosWilkes commented on #15
Looks like it all works now, great job!

[2020-11-30 19:28] mayfield commented on #15
Excellent.  Thanks for the feedback and testing.

[2020-11-30 19:28] #15 closed

[2020-12-27 17:56] tannenba opened #16 "enhancement request: weekly TSS in training log?"
Just installed Sauce on Firefox, very nice job!!!!

One feature I've dreamed about: in the "Training Log" page, by default Strava shows Total Relative Effort for each week.  Strava gives options to see other weekly totals, such as miles, but has no option to show weekly "Training Load" or (obviously) TSS.

It would be wonderful to see weekly TSS totals.  Or even Strava's tss substitute of 'Trainin

[2020-12-27 23:16] mayfield commented on #16
Hi Todd,

Thanks for writing in with the suggestion.  The current release doesn't
store all your activity data so unless Strava provides an API for getting
this sort of information on the fly I can't do much, and they don't provide
a simple way to get training load data like this without inspecting each
and every activity.  TSS for example is calculated by using the raw data
streams.

BUT...

The

[2020-12-27 23:24] mayfield commented on #16
![image](https://user-images.githubusercontent.com/139316/103181535-2e407000-485f-11eb-9f0f-97af124470e1.png)

Here's s sneak peak at what I'm able to do so far.  I'm building up the `SyncManager` code to handle keeping all your activities imported while staying within Strava's throttling limits.

[2020-12-28 16:50] MalpaMaison opened #17 "Why is the initial Predicted Performance not the same as Original Performance?"
If the rider weight and My Gear is correctly set in Strava, why does "Bike/Gear Weight" show a different value in Performance Predictor?

When the "Bike/Gear Weight" in Performance Predictor is reset to the same value as set in Strava, why is the "Predicted Performance" so far off from the "Original Performance"?

I would have expected the baseline to be the same.

[2020-12-28 20:21] mayfield commented on #17
Hi @MalpaMaison I don't have access to the Strava bike/gear weight settings.  Those values are embedded into the HTML of your settings page in way that's not reliably accessible.  Also it would only work for activities performed by the logged in athlete.  So I just pick a reasonable starting value and if you change it, it saves it in a preference for that athlete so you don't have to re update it

[2020-12-28 20:26] mayfield commented on #17
One more note.  The algo used by Sauce is just classical physics that's been around for ages.  Tried and true.  You can see the maths at sites like this one: https://www.gribble.org/cycling/power_v_speed.html

And in the sauce code here:
https://github.com/SauceLLC/sauce4strava/blob/37233256cbe07acd51645cea8deb73db911c5e78/src/common/lib.js#L928-L973

[2020-12-29 01:00] MalpaMaison commented on #17
Yes, that additional info helps.

1. I am using a power meter
2. I am using the weight of the bike and everything else as you prescribe
3. I will attempt to figure out the CdA and Crr
4. Solo ride I don't remember the wind conditions

https://www.strava.com/activities/7404732/segments/138683451

Do you have an ETA your Firefox plugin?

Do you have a one time sponsor option instead of monthly?

[2020-12-29 01:13] mayfield commented on #17
Firefox is already out there..

https://addons.mozilla.org/en-US/android/addon/sauce4strava/

I added Safari support too, but I'm not willing to pay Apple tax, so it's just a developer signed download on the website: https://saucellc.io (top right corner or bottom right if you aren't currently using safari to view the site).

No non monthly patreon at present, sorry.

I'll have a look at activity

[2021-02-25 03:01] eprowe opened #18 "Dark Mode not/partially working on some pages"
Dark mode doesn't appear to be working 100%.  Not sure about other themes.  Here are the few I've found.  Using Firefox 86 and Sauce v7.0.4

- Local legend status of a segment.  Sample URL: https://www.strava.com/segments/19032443/local-legend
- Training > Training log.  Sample URL: https://www.strava.com/athletes/13340377/training/log
- Dashboard > Heatmaps.  Sample URL: https://www.strava.com/at

[2021-02-25 04:13] mayfield commented on #18
Sadly, there is nothing to be done for those pages.  Strava has embraced a React and webpack configuration that is completely unthemeable.  At first I was able to support them with some horrific CSS selectors but they switched settings in recent months and the HTML produced by them is now utterly garbage.  Hopefully they cease the rewrites of other pages with this new system cause it's a show stop

[2021-03-09 03:02] mayfield commented on #12
@JordivanGiezen I finally got around to working on a better solution for this.  It will be in the next major release.   Cheers.

[2021-03-26 18:40] i-marszi opened #19 "Coments problem."
Does not display "Event Discussion"
In both chrome and firefox.
Mentioning in comments using @ did not work

[2021-03-26 18:52] mayfield commented on #19
HI @i-marszi can you expand on what you mean by "Event Discussion"  Possibly with a link to an activity and/or pictures of what you mean?

I'll look into adding @ mention support.  At the time I authored the comment box they didn't support mentions in the web.  Looks like it's possible now though.  I'll make a separate issue for that.

[2021-03-26 18:53] mayfield opened #20 "Support @mentions in comments create"
Looks like you can create @mentions on the web now.  Need to figure out the format and reuse their widget for adding these.

![image](https://user-images.githubusercontent.com/139316/112679867-4a3db880-8e32-11eb-92b8-1a5ac4255baf.png)

See #19

[2021-03-26 19:22] mayfield commented on #20
Looks possible to borrow the react widget strava created ...
![image](https://user-images.githubusercontent.com/139316/112682843-4d3aa800-8e36-11eb-9f5e-875a8bf067a5.png)

[2021-03-26 20:08] mayfield commented on #20
Looks like I mostly got it..
![image](https://user-images.githubusercontent.com/139316/112687186-bc1aff80-8e3c-11eb-826b-c09427698ba4.png)

[2021-03-26 20:10] #20 closed

[2021-03-26 20:24] i-marszi commented on #19
This page:
https://www.strava.com/clubs/581770/group_events/915898
It should look like this:
![Screenshot_3](https://user-images.githubusercontent.com/17333265/112688785-9e1fc000-8e79-11eb-89e3-0d17293a6d67.png)

And it looks like this:
![Screenshot_2](https://user-images.githubusercontent.com/17333265/112688801-a415a100-8e79-11eb-9ab8-9b8ff436d5ed.png)

[2021-03-26 22:46] mayfield commented on #19
@i-marszi Perfect thank you.  I've honestly never seen this page! :smile:

Hopefully an easy fix.  I can see the error in the console.

Thank you!

[2021-03-26 23:00] #19 closed

[2021-03-26 23:08] mayfield commented on #19
@i-marszi Published `v7.1.1` to the Firefox store with this fix.  Chrome will have to wait a little bit longer as it requires a longer testing cycle.

Thanks for the report!

[2021-03-27 07:08] i-marszi commented on #19
WOW, great support :)

[2021-03-29 00:59] mayfield opened #21 "performance: editing activity breaks sync panel button"
Something is unhooking the event listener for the page's sync button when you do a reimport or delete.

[2021-03-29 01:05] mayfield opened #22 "HR Zones are historicalish"
Strangely HR zones are tied to activities and they are FOR-EV-AR.   Updating your account settings with new zones only affects new activities.  You can never change HR zones from the past.  Well this is bad because if you accidentally have incorrect data in there you can't fix it in strava land (I just realized my zones were wrong for some unknown period of time).

We can improve this for Sauce us

[2021-03-29 01:06] mayfield opened #23 "Add timeout for rouge sync jobs"
We need some basic sanity timeouts on sync jobs to prevent wedges.

[2021-03-29 01:07] mayfield opened #24 "performance: Add chart reordering"
Allow user to move charts around to their preference.

[2021-03-29 01:07] mayfield opened #25 "performance: Create activity compare tool"
I'd like to have some tools for comparing activities, perhaps your own or rivals, etc.

[2021-03-29 01:09] mayfield opened #26 "performance: show peak power/etc on activity view on details panel"
As an expandable option show peak data from an individual activity.

[2021-04-02 19:44] mayfield opened #27 "sync manager dies following computer suspend that overlaps next sync time"
setTimeout is not fired during computer suspend states so any sync wakeup calls that should trigger when the computer is sleeping will never run.  So the sync engine just never runs again.

We need to install some sort of recovery mech with `setInterval` (will need to validate it still works after suspend).

[2021-04-07 01:33] mayfield commented on #22
Closing this, as I've made a change that pulls HR Zones from latest activities.  I'm not 100% on it, but we have more pressing issues.

[2021-04-07 01:33] #22 closed

[2021-04-15 08:32] gcp opened #28 "FTP displayed on run segments is Cycling FTP"
The display of NP / IF / TSS / FTP / Weight uses the cycling FTP (for the orange, adjustable display) even in run segments.

Changing the FTP there also changes the cycling FTP.

They should probably either not be displayed or split up between running/cycling.

[2021-04-15 18:15] mayfield commented on #28
@gcp Sauce does actually compute power for runs based on weight.  Is the issue that you want to use different values between sports?  For me personally I've found them to be more or less the same.

[2021-04-15 20:53] mayfield commented on #27
Correction:  setTimeout does eventually fire but because it is a relative duration and the computer is sleeping the internal timer for the website is not incrementing.  If you evaluate the performance.now() values before and after a sleep they have not elapsed based on wall time.  So the solution will likely a low resolution sampling timer loop that can resume following a sleep and determine if wa

[2021-04-16 07:42] gcp commented on #28
They're very different for me, but that is comparing a Stryd to a bike power meter, which won't necessarily give comparable numbers so it's not relevant for the power estimates on Sauce (Strava unfortunately strips Stryd data, so there's no running power in my Strava data).

Overall I don't see any reason why running FTP would track bike FTP though. It's not like these evolve at the same moments d

[2021-04-16 07:57] gcp commented on #28
If the time reference that Strava uses for pace zones is available to Sauce (i.e. say 20 min for a 5k), perhaps extrapolating those to a flat run, calculating the power (based on athlete weight), and then using that (after a % correction based on time) as the FTP would work.

Stryd seems to use
1.5hr = 95% FTP
1hr = 98% FTP
45mins = 100% FTP
25mins = 103% FTP
20mins = 105% FTP
15mins = 106% FTP

[2021-04-16 08:08] gcp commented on #28
As an example, my last 5k PR had 336W (according to Sauce's estimate) over 20 minutes. Using the conversion above, we'd arrive at a 320W running FTP.

This also means we'd estimate a 1 hour run at 313W should be possible.

Compare this to what happens now: Sauce uses my bike FTP (296W), sees an hour long run with a 310W average, and concludes it was at 105% IF, which is physiologically impossible!

[2021-04-16 16:37] Filliny commented on #17
Perfomance predictor dont count on pauses - so i see the initial average speed is lower than original

[2021-04-16 18:11] mayfield commented on #28
Thank you for the data @gcp

In my case (mostly cyclist) my cycling numbers are more easily achieved.  I.e. I can RIDE at my FTP number more readily than I can RUN at the GAP pace that would result in the same power estimate.   So based on our two data points (which surely isn't enough for good science but something to consider), it does seem that different athletes can have different perceived ex

[2021-04-16 21:16] #27 closed

[2021-04-19 14:39] After1028 opened #29 "Category Rank Not Working Properly"
I've noticed just recently that the category rank (Ie: Cat 1, 2, 3, etc) seems to be a bit broken. The w/kg doesn't line up with the graph within Sauce that shows the where you measure up based on w/kg. It used to be correct but now it is off on all my activities. The picture I attached below is a ride I did the other day. For my 1 hour power I did 2.7 w/kg which would roughly be cat4/5 but Sauce

[2021-04-19 19:05] mayfield commented on #29
I switched to using NP which is why it's not correlated exactly.  I'm on the fence about this for shorter efforts but it helps with ranking 1hour+ efforts dramatically.

In either case, I do agree the badge needs to have a better tooltip showing the exact value being used.  Any thoughts @After1028 ?

[2021-04-20 00:40] mayfield commented on #29
Gonna leave this open for tracking.  I do think improvements need to be made.

[2021-04-20 01:10] After1028 commented on #29
Sorry about closing that. I'm new to using Github, still trying to figure out how it works.

The normalized power makes sense, especially for the longer efforts like you said. How does NP work for shorter efforts (ie: sub 1 minute)? It seems like a lot of calculations use a 30 second rolling avg.

[2021-04-20 02:11] mayfield commented on #29
No worries.

NP is only used for 5+ mins,  Coggan suggests 20+mins but everyone seems to use it for short stuff now.  I have considered changing the algo to only use NP when the duration is over an hour which would have prevented the confusion in your case.  But I'll still need to improve the UX to explain what figure is being used and when.

[2021-04-26 22:53] mayfield commented on #29
![image](https://user-images.githubusercontent.com/139316/116160769-dea86e80-a6af-11eb-9ced-a769c447f2b9.png)

More notes..

A search for Peak  NP will yield better ranks than a search for just Peak Power because badges are always based on NP.   Ie. more confusion

[2021-04-27 00:10] mayfield opened #30 "Peak rank graph"
Implement a peak rank graph for an activity and include past ranks when athlete is synced.

X axis: time period or distance
y axis: best rank for that period/distance.

[2021-04-27 03:00] mayfield commented on #29
![PXL_20210426_233626909](https://user-images.githubusercontent.com/139316/116178249-7028d800-a6d2-11eb-9610-1fb6a4784baf.jpg)

[2021-04-27 22:21] #29 closed

[2021-06-03 19:00] mayfield opened #31 "Peak HR is finding using elapsed time"
See: https://www.strava.com/activities/5404140808/analysis/1760/2121  (20min)

HR does not avg zeros or non-active time but the peak table is using elapsed time, which leads to false high values that include rest (common).

Need to check this and other active-stream based peak types and ensure they don't match over elapsed time.

[2021-06-29 18:41] mayfield opened #32 "Use active-time for FIT export's *_timer_time fields"

[2021-06-29 18:42] mayfield commented on #32
![image](https://user-images.githubusercontent.com/139316/123850615-7a846f80-d8d7-11eb-9335-0a7a0acfa187.png)

[2021-06-29 18:44] mayfield commented on #32
Currently only elapsed-time is used for timer fields in FIT export.  We should calculate active-time and use that for the `total_timer_time` fields in the `session` and `activity` messages.

[2021-06-29 19:11] #32 closed

[2021-06-29 19:48] i-marszi opened #33 "Potential xPower error"
Is it possible that the 5m xPower is smaller than the 10m xPower?
https://www.strava.com/activities/5549271178
5m xPower 255W
10m xPower 267W

[2021-06-29 20:33] mayfield commented on #33
Hi @i-marszi

xPower is an exponential weighted algorithm, so in some situations this IS possible.   My guess is that there is some high values followed by low (or zero) readings that are near the end of the 10 minute max period but not the 5 minute period.

Please re-open if this is not the case.

[2021-06-29 20:33] #33 closed

[2021-06-29 20:35] #17 closed

[2021-07-28 06:26] GoustiFruit commented on #18
I guess that there was a new update to Strava (or maybe to Sauce ?), and the theming is now wrong on every page now. The only way to get working pages, is to disable Sauce. If I enable the Dark, Native, or System options, the result is the same (mostly dark background, with white "boxes").
Could you please add an option to fully disable the theming from Sauce ? Or even fully remove it ?
So that, i

[2021-07-28 17:09] mayfield commented on #18
@GoustiFruit I'm not able to reproduce this, but that doesn't mean it's not real.  It could be a slow rollout of some changes that aren't in my region yet.  Can you send me some screencaps and check that any other Strava related extensions aren't at fault by disabling them temporarily?

Also if you're inclined I'd like to see some of the contents of the dev tools, specifically some of the `Element

[2021-07-28 17:43] GoustiFruit commented on #18
Hi,
Here are a few screenshots of what Strava looks like in my browser, with and without Sauce. Context: Vivaldi browser on Linux (ArcoLinux/KDE Plasma).
I have no other extension related to Strava (I also attach  a screenshot of the list of the extensions installed in my browser).
![2021-07-28 19 16 04 www strava com d74b06a5890a](https://user-images.githubusercontent.com/52235969/127370632-c79e2

[2021-07-28 18:07] mayfield commented on #18
That's what I expected.  They are rolling out a React based version of the activity widget in the dashboard feed.  Most likely themeing for the feed will have to be disabled.  I may have to abandon themes entirely as Strava continues to migrate to React which depending on their webpack build settings is completely non-extensible.  React is generally a disease for web extensions. :cry:

These chang

[2021-07-28 18:31] GoustiFruit commented on #18
Only the dashboard feed is affected AFAIK (I'm not Premium member, so I don't have access to some pages/features). Oh, the "Challenges" page is also "unthemed":
![2021-07-28 20 21 01 www strava com 5e45faf0c997](https://user-images.githubusercontent.com/52235969/127375522-303e8718-e242-4f5e-9cf6-1bd13f3efe80.png)

I guess that theming is not the most important feature of Sauce (though I like it ;-

[2021-07-28 18:49] mayfield commented on #18
Thank you.  As soon as the rollout reaches me I'll start working on mitigation.

[2021-08-05 02:50] mayfield commented on #18
This finally reached my region/account.  I'll can work on this now.

[2021-08-05 05:57] GoustiFruit commented on #18
Nice. That you can now work on it. Not that it reached your region :-p

Le jeu. 5 août 2021 à 04:50, Justin Mayfield ***@***.***> a
écrit :

[2021-08-17 07:39] xenius opened #35 "Night Mode bug?"
Hi, i think strava recently updated their ui a bit, Is there a way to fix this?

https://i.imgur.com/YGB3ZVV.png

[2021-08-17 18:51] mayfield commented on #35
Fixes are rolling out now.  Thank you for the report!

[2021-08-17 18:51] #35 closed

[2021-08-17 18:51] mayfield commented on #18
Fixes rolling out now. Thank you @GoustiFruit

[2021-08-17 18:51] #18 closed

[2021-08-19 08:10] GoustiFruit commented on #18
I can finally read the page :-) Thanks !

[2021-08-26 22:47] olafloogman opened #36 "Virtual rides are not hidden"
Despite enabling the checkbox for 'Hide virtual activities (e.g. Zwift)', virtual rides of fellow cyclists are still polluting my Strava feed. Their rides are marked as virtual by Strava. Any idea what causes these rides still to appear?

[2021-08-30 21:04] mayfield commented on #36
I did find some bugs in the revised code which are going out in the next release.

[2021-08-30 21:04] #36 closed

[2021-09-12 18:01] moogle19 opened #37 "Search button misaligned"
When Sauce is activated on Firefox, the search button moves behind the Strava logo.
<img width="668" alt="Screenshot 2021-09-12 at 19 59 46" src="https://user-images.githubusercontent.com/792046/132997932-405efa5a-65a6-48e2-947e-60ac745a71bb.png">

[2021-09-12 19:05] mayfield commented on #37
Confirmed regression from upstream change.

Only for responsive mode.

[2021-09-12 19:16] #37 closed

[2021-09-19 15:16] mikebarkmin opened #38 "Export GPX from Segments"

[2021-09-20 00:48] mayfield commented on #38
Hi @mikebarkmin this is possible in a round about way currently.  You can select the segment then click the "Analyze" button which will open the analysis page with the segment's start/end selected.  Then from the sauce bar (must be expanded) you can click "Export: GPX, ..."

If you already knew this and/or were looking for a more convenient way to do this let me know.  I don't personally have a us

[2021-09-22 20:39] gcp opened #39 "Peak Distances depending on activity"
Peak Pace/HR/Power distances are currently shared among activities.

It would be more useful if they were split between e.g. swim/run/bike.

Specifically, I don't care about my mile time in the pool, but both 1500m and 1900m are relevant. On the other hand; don't care about those distances for any other sport.

[2021-09-22 20:49] mayfield opened #40 "Rank is using elapsed time and active power"
This activity exposes the problem of using elapsed time and active power (or NP).  It clearly distorts on activities with big breaks.

https://www.strava.com/activities/452115433/analysis

[2021-10-14 01:53] AndrewDDavis opened #41 "Allow manual entry of smoothing window size"
The new smoothing feature is *awesome* but it's really hard (or impossible?) to get some specific smoothing window sizes. E.g. about 5 or 6 seconds is the sweet spot I'm looking for, but the slider seems to only allow certain values: 0, 2, 4, 7, 9, 12, ... s.

It would be great to be able to click the window size value and manually enter a value (e.g. 5 s); alternatively, allowing more values at t

[2021-10-14 02:02] mayfield commented on #41
+1

[2021-10-14 19:28] mayfield opened #42 "Add better weight / ftp tooltips"
![image](https://user-images.githubusercontent.com/139316/137383006-7b4bddd5-5e2c-444e-9bad-add5483de088.png)

[2021-10-19 20:13] mayfield opened #44 "Add info dialog button for segments"
Feature request from patreon user...  Support showing the info dialog used for the Peak Efforts tables in the segment listing.

* Inject a button that's visible during row hover that will popup the dialog for that segment boundary.
* Possibly make it opt-in at first, we'll see how invasive it is.

Context:
![image](https://user-images.githubusercontent.com/139316/137983474-9c585460-0b63-433c-8a63-

[2021-10-23 01:33] mayfield opened #45 "Speed calcs have gone insane"
Looks like a regression or upstream change..

[2021-10-24 22:32] alvargs opened #46 "Dang, I'm fast!!!!"
![image](https://user-images.githubusercontent.com/93101607/138615568-ea82bf48-263c-44fd-980c-c21c90f16b3e.png)

Noticed this in the recent update, speed is way off

[2021-10-24 22:35] #46 closed, assigned to nobody

[2021-10-30 22:38] mayfield commented on #16
Going to close this cause I can't modify the Training Log page now that's been rewritten in React.  :(

[2021-10-30 22:38] #16 closed

[2021-11-03 10:07] #21 closed

[2021-11-03 18:26] mayfield commented on #23
With rate limiter suspends being 24 hours this is actually a bit harder.   We might need a watchdog system where the sync job prevents cancellation by waking every once in a while.

[2021-11-07 00:31] mayfield opened #49 "Show `min` for W'bal in analysis label"
The max value is kinda meaningless, the min value is the most interesting datapoint in this case as it "drains" to a min value you want to know about.

[2021-11-08 09:51] #49 closed

[2021-11-10 03:11] #23 closed

[2021-11-10 03:16] mayfield opened #50 "Trigger sync when visiting performance page"
We trigger a sync if we detect a new activity on the analysis page, but it would also be nice to check the last sync time in the performance page as well.  No reason we couldn't reduce sync latency when we know the user is interacting.

We could probably relax the default resync timeout as well if this is implemented well enough.  As the minor resyncs should be quick and lightweight.

Req 1:  If t

[2021-11-11 02:23] #50 closed

[2021-11-11 02:27] mayfield opened #51 "perf page reimport button on activity breaks sync button"
We partially fixed this before but actually the sync button is not showing the sync state properly now.  When you reimport the pageView is rerendered and a sync is started.  The pageview is fine but the sync button is now showing the sync as being active.

We might actually be able to get away from using pageView.render() in this case since we now detect sync progress with #50

[2021-11-11 02:28] mayfield opened #52 "Monitor sync progess done.ids for details view"
Cross reference the done.ids in sync progress event with the list of visible acts in the details view.  If they overlap, rerender as needed.

Related to #51

[2021-11-11 19:43] mayfield commented on #28
+1 from user support email:
![image](https://user-images.githubusercontent.com/139316/141359075-6e8bfc69-5bc4-4244-8e41-f5df0f96bd92.png)

[2021-11-12 08:17] mayfield opened #54 "segment rank percentage"
For very populated segments users sometimes like to see their rank in percentile since 3251 out of 67483 would actually be in the top 5% which seems a LOT better than 3,251st place. :)

[2021-11-13 00:01] mayfield opened #55 "Sync: delete of activity must cause invalidation of local-proc manifests"
Currently if a user deletes an activity (because it was deleted from strava, or otherwise) it will delete the activity, stream and peaks data manually, but this really an overly entrenched impl.  We shouldn't have to know about the local processors data stores to delete activities.  Worse, processors that are affected by rolling averages like ATL and CTL will not recompute the affected activity ra

[2021-11-13 00:09] #51 closed

[2021-11-13 00:09] #52 closed

[2021-11-17 13:20] mayfield opened #56 "Localization Suggestion"
Submitter: Justin Mayfield
asdf

[2021-11-21 19:16] mayfield opened #57 "Include activity power profile in rank widget"
Patron feature request:

![image](https://user-images.githubusercontent.com/139316/142775763-f4585b64-111c-4495-a285-4b325db7e876.png)

Also requested showing all the power bands so they can see where they figure in all the ranks without the select.

[2021-11-23 00:46] mayfield opened #58 "Add user data (weight, etc) to exports"
FIT (and possibly the others) support some user meta data like weight.  Include this in the export.

[2021-11-24 00:22] mayfield opened #59 "perf chart zoom state breaks athlete change"
Zoom in on a chart, change athlete, unzoom.  Goes back to prior athlete data.

[2021-11-24 00:23] mayfield opened #60 "perf chart zoom doesn't handle segments"
trying to zoom into the 2nd segment of data (future days) does not work.

[2021-12-20 17:42] ph4r opened #61 "Enhance Dark Mode Display of Club Tables"
![image](https://user-images.githubusercontent.com/23483137/146809348-6a688e40-ed97-4578-bf0e-99ba4d9b8e5a.png)
Many items on these tables are not readable in the current Dark Mode Theme (which gets so much else right).  ScreenCap is from Chrome

[2021-12-20 17:49] ph4r opened #62 "World Record Badges not correlated"
I did two Zwift races this weekend, and the segment results are at most Cat5 Badged, but the Analysis Page shows Cat4 on each of them.
[Sunday](https://www.strava.com/activities/6403169024)
[Saturday](https://www.strava.com/activities/6398521660)
I assume this is just matching to some Coggan Tables, but I'm not typically sure how the overall would be higher than the parts.

[2021-12-20 20:59] mayfield commented on #61
Thank you @ph4r.  Should hopefully be an easy fix.

[2021-12-20 21:07] mayfield commented on #62
Hi @ph4r probably it's just the time domain and spatial bounds of the segments vs the peak power table which is unbounded spatially.  I just goes through the power stream looking for the highest power averages of each time period.  For example, while it's possible that your peak 1 minute power happened to line up exactly with a 1 minute segment it is unlikely.  However there may be a segment insid

[2021-12-21 01:47] #61 closed

[2021-12-23 02:14] mayfield commented on #62
Hi @ph4r Let me know if my reply resolves this for you so I can close this issue or if you wanted to discuss further.

[2021-12-23 02:36] jamesford007 opened #63 "Request: Cumulative Zone Distribution Feature"
Strava shows your zone distribution for a given ride on the analysis page under the **Zone Distribution** tab.

![image](https://user-images.githubusercontent.com/23556889/147178046-c0a2897d-0815-4e23-a7ef-9588b754f249.png)

I would like to be able to view my zone distribution across a number of rides. This would give some additional insight into training and could complement the existing TSS/Time

[2021-12-23 02:42] jamesford007 commented on #63
![200w](https://user-images.githubusercontent.com/23556889/147179802-85a72ac9-935f-49e0-b10a-f603c2937449.gif)

[2021-12-23 02:43] mayfield commented on #63
You make a compelling case..

[2021-12-23 02:50] jamesford007 commented on #63
![source](https://user-images.githubusercontent.com/23556889/147180565-5a31bcce-00c5-4a91-be8c-40ed16bf511c.gif)

[2021-12-23 15:08] ph4r commented on #62
Clear to Close - Your NP weighting makes a big difference and is what pushes my total active time up a Cat.

[2021-12-23 15:42] jamesford007 opened #64 "Peak Performances Are Not Calculated When Data Is Imported"
I was setting up **Sauce Performance** on a new machine. I used the **Activity Sync** menu to import a backup of all my data (rather than going through the normal sync process).

![image](https://user-images.githubusercontent.com/23556889/147261523-f030d8aa-db38-42d2-99ee-39f90a04ddfb.png)

The peak performances within in the **Sauce Performance** page did **NOT** include my imported data, only ri

[2021-12-23 21:20] #62 closed

[2021-12-30 01:22] mayfield opened #65 "Incorrect date range in perf monthly acts"
![image](https://user-images.githubusercontent.com/139316/147714350-8fb38535-0054-4576-8dd4-f9e83f04ae03.png)

Should be dec 1 -> dec 31st
Better, detect monthly and just say December

[2022-01-03 00:23] mayfield opened #66 "Kudo all in group button"
Add ability to kudo all activities in a group

[2022-01-06 05:36] #31 closed

[2022-01-06 05:36] #40 closed

[2022-01-08 19:09] mayfield opened #67 "Show distance in analysis stats for non-gps activities"
The distance and a few other metrics are only shown when the elevation graph is present.  Replicate those missing fields when the elevation chart is not present.

[2022-01-11 02:17] mayfield opened #68 "page render after missing tss update breaks tooltips (and is slow)"
click missing tss:

Fill in a couple dozen entries.
Hit save.
  *takes too long*
Eventually rerenders the page but the refs to the tooltips are invalidated.

Make it faster and fix it.

![image](https://user-images.githubusercontent.com/139316/148869635-687d0b67-ad9d-41d6-98d1-f312298908d3.png)

[2022-01-11 02:33] mayfield commented on #65
![image](https://user-images.githubusercontent.com/139316/148871154-744ab245-95f3-4f84-b0dd-4f2b330f4b06.png)
I believe this is related, the predictions are wildly too big.

[2022-01-11 02:55] mayfield opened #69 "bestPace is zero padding distances"
bestPace is sliglty broken because it's zero padding.  This should never be the case.  Might need to resubclass it to not RollingAverage.

[2022-01-11 02:55] mayfield opened #70 "active stream creation differs between perf and analysis"
I think it's missing some of the desired streams now.  Make it identical to the analysis activeStream.

[2022-01-11 03:07] #70 closed

[2022-01-11 03:12] #69 closed

[2022-01-11 03:41] mayfield commented on #65
Looks like this is corruption related to fast navigation.  Before I do anything else we need to serialize and probably debounce these fast navigation (or minimally disable the nav event handlers until we've updated everyone's state properly.

[2022-01-14 03:17] #65 closed

[2022-01-14 06:27] mayfield opened #72 "peak w/kg is not updated following weight history change"
Probably need to make power_wkg peak a seperate manifest that depends on weight and the previous peaks data.  It's a simple division function so it would be very light weight. #nopun

[2022-01-14 21:03] mayfield opened #73 "Allow peak charts to be filtered by activity type"
Possibly add visibility to volume and training charts for activity type as well.

[2022-01-14 21:05] mayfield opened #74 "Sync weight changes to weight history"
Currently once you sync an athlete the weight history becomes static and you have to manage it seperately.  Add a dynamic entry type that will follow the strava profile value as it changes.

[2022-01-14 23:25] #72 closed

[2022-01-19 07:52] #73 closed

[2022-01-19 07:54] #64 closed

[2022-01-19 20:25] mayfield opened #75 "Add rank badges to laps page"
It's just a table so should be pretty simple.

[2022-01-19 20:57] mayfield opened #76 "Activity Data Oddities list"
Make a system just like, or integreated with, the "Missing TSS" feature in perf where we flag activities that look suspect.  This will let users quickly find, fix or skip activities/streams that have issues.

**Required:**
 * Exclude the activity from all peaks calcs (already have a flag for this).
 * Override TSS (also have field for this)

**Bonus:**
 * Delete stream (should delete it but also i

[2022-01-21 02:38] mayfield commented on #68
Forgot to tag in my git commit, but was fixed yesterday with c4933a20df6c4733843abea98a9fc9a64003f6ea

[2022-01-21 02:38] #68 closed

[2022-01-22 19:13] mayfield commented on #26
Done

[2022-01-22 19:13] #26 closed

[2022-01-28 20:00] mayfield commented on #24
She ready

[2022-01-28 20:00] #24 closed

[2022-01-29 03:33] mayfield commented on #63
Added

[2022-01-29 03:33] #63 closed

[2022-01-29 03:34] mayfield opened #77 "perf page updateActivities event races with panel creation."
Firefox DB is so fast we actually miss the update-activities event.  We need to make startup race proof.  Likely fix is having panels check the current pageView activity set when they render and using it if available.

[2022-01-29 17:58] mayfield commented on #77
Invalid, issue was with how firefox fails to to serialize an object with function references in it for message channels.

[2022-01-29 17:58] #77 closed

[2022-01-31 06:06] mayfield opened #78 "rolling power calcs still busted"
https://www.strava.com/activities/1483302698

[2022-02-01 21:07] mayfield opened #79 "Support for notes on athlete history buckets"
User request for notes on weight and/or ftp history.

[2022-02-01 21:07] mayfield opened #80 "Add graphs of athlete history buckets"
Sparkline of weight and ftp history.

[2022-02-01 21:09] mayfield opened #81 "Bulk live segment creation of stared segments"
User request for bulk export of live segments on a page using a predefined criteria.  Need a little bit of clarification on if this using the data from that one analysis page or if this would need to use the performance feature database to source efforts from you best efforts.

[2022-02-03 02:20] #78 closed

[2022-02-04 04:55] mayfield opened #82 "disabledDatasets.energy = true does not work in defaultPrefs"
Can't disable a dataset by default.

[2022-02-05 21:45] mayfield opened #83 "Add more category details to rank badge tooltips."
![image](https://user-images.githubusercontent.com/139316/152660030-8460ae59-02a6-4868-aea1-c32961fe668c.png)

[2022-02-06 03:38] #82 closed

[2022-02-06 19:35] mayfield opened #84 "power_data api has ftp and weight"
Looks like this is actually the weight at the time of the activity!  We can maybe build a weight history from this..

![image](https://user-images.githubusercontent.com/139316/152698221-71300390-f78b-4b67-8711-5ab187b8608a.png)

[2022-02-09 15:06] ddddavidee opened #85 "Export compressed backup"
Hi,
I suggest to implement the export of a compressed file as backup.
I use several browsers on several pc and used only one for the initial very loooooong sync, I then exported the data and imported on the others. The binary file is actually a pure json file, it could be a better idea to compress it and uncompress when importing the data.
In my case the ratio is quite high: ~200mega when uncompre

[2022-02-09 15:23] ddddavidee commented on #85
Thank you for the quick reply.
I'm sorry, I am not familiar with browser extension development and approval process.
I add this one as ref, but probably the issue you highlighted still stand with this one: https://github.com/dfrankland/wasm-brotli

[2022-02-09 15:57] mayfield commented on #85
I believe `zip.js` was the one I had tried before.  It made the export process an order of magnitude slower. :) I'll checkout the brotli package.  Thanks @ddddavidee !

[2022-02-11 05:54] mayfield commented on #84
I can implement a full "auto" mode for weight and ftp with this.  It will only work for athletes with premium and power data, but that covers a big chunk of serious athletes.

[2022-02-11 13:11] freaki85 commented on #84
Amazing

[2022-02-16 00:51] mayfield commented on #30
Done

[2022-02-16 00:51] #30 closed

[2022-02-16 20:40] mayfield opened #86 "Bulk activity export"
Explore doing a bulk export of activity files in standard format(s) like FIT.

[2022-02-16 23:07] #58 closed

[2022-02-17 00:33] mayfield opened #87 "Alien icon for suspect segment results and ranked efforts"
It should be possible to do some basic sanity checks on suspect segment leaderboard entries as well as for rank badges exceeding world tour levels.

See discussion with patron...

![image](https://user-images.githubusercontent.com/139316/154380970-d94bcc45-b171-4043-bf2d-60cf73ed9eaf.png)

[2022-02-18 04:49] mayfield opened #88 "Training load processor internal error"
Looks like there is an escape in the training load processors activity accounting.

![image](https://user-images.githubusercontent.com/139316/154619450-26f02697-3d91-4ddd-99b1-b5b638ca6fff.png)

[2022-02-18 05:37] mayfield commented on #88
f4d1e604ebaed0ebd967d5936d1997892ede9bca

^^^ Possible fix, if the issue is related to activities in the far future.

[2022-02-18 11:40] #80 closed

[2022-02-21 21:50] mayfield opened #89 "Peak performance filters (trainer, etc)"
User request for more filter options like isTrainer exclude.  There are a LOT of different things folks might want to filter, so perhaps an input field that can accept a simple grammar for advanced filters.

[2022-02-22 04:32] mayfield commented on #54
New Requirement:
  Render this in the collapsed state of a segment and include the positional rank as well.

This will give you a quick at a glance idea of how the segment went without have to expand it (or have been a PR/KOM, etc).

[2022-02-23 23:19] mayfield opened #90 "Peak VAM over time for Performance pages"
Add Peak VAM to peaks generation.

[2022-02-26 02:57] #85 closed, assigned to nobody

[2022-03-05 03:33] mayfield opened #92 "Allow the cutoff for estimated power ranges and NP to be user controllable."
An advanced option would suffice.

Just need a backdoor config option to give power users.

[2022-03-06 02:56] mayfield opened #93 "Fix code scanning alert - Unvalidated dynamic method call"
Tracking issue for:
- [ ] https://github.com/SauceLLC/sauce4strava/security/code-scanning/5

[2022-03-06 02:57] #93 closed

[2022-03-07 11:31] Oval opened #94 "[Feature] Add option to convert min/km (running pace) to km/h."
I'm cyclist myself but I would want to see people's running activities in km/h instead of min/km

[2022-03-08 00:19] andrewsuzuki opened #95 "Is the NP calculation correct?"
According to "Training and Racing with a Power Meter" 2nd edition, the first step in the NP calculation is "Starting at the beginning of the data and calculating a 30-second rolling average for power".

I noticed in `calcNP` that for the first 30 seconds it effectively includes the averages using `i+1`-second windows (sums seconds 0-1 / 2, then sums seconds 0-2 / 3, then sums seconds 0-3 / 4...),

[2022-03-08 00:58] mayfield commented on #95
That's interesting.  I actually didn't base my impl on the literature.  I referenced other open source implementations as I recall.  It was many years ago though.  I'll have a look around.  I will say, increasing the O complexity like this will be a bitter pill to swallow, so I hope you're wrong. lol :smile:

[2022-03-08 02:06] mayfield commented on #95
Just checked a couple sources and the algo is as you stated; here is the pseudo code description..

![image](https://user-images.githubusercontent.com/139316/157146711-62c8ab24-02ba-4aa8-b246-1f9bc259cde9.png)

It took me a second to see that your inner loops are used to recompute averages of the 30s window but are also achievable with the sum val maintained outside the loop.  As is how the cur im

[2022-03-08 03:18] andrewsuzuki commented on #95
I just wrote those to demonstrate the difference, disregarding time complexity (actually, I almost just posted them in Clojure because that's what I'm currently implementing them in, hah).

Here's a better O(n) version that's about 30% faster than the current impl. Instead of using an intermediate array it maintains a sliding sum of the window. It skips until the first full window's sum is built.

[2022-03-09 21:08] mayfield opened #96 "Moar pepper badge time periods (custom)"
Offer more/customization peak perf pepper badge time periods.

First most solve the symbolic issues of how to convey what each badges stand for.

One thought is to denote the custom periods with a unique icon that is perhaps less suitable (bigger with text) that has the time period as the foremost property off the badge.  Where the pepper is just a silhouette.  It would be less cute, but for data

[2022-03-09 21:23] mayfield commented on #95
I've just done a very simple test that think is more or less on point with Coggan's description of prefilling the window...

[code]

[2022-03-09 21:38] andrewsuzuki commented on #95
What is Coggan's description of prefilling the window? If the first window is from indices 0 to 29 then isn't it already filled?

[2022-03-09 21:55] mayfield commented on #95
Prefilling meaning that before using a `windowAvg^4` value for the NP calc you ensure you have collected the first 30 seconds of data.  The total of windowAvg^4 values is then divided by the length of the input power stream minus 29 (assuming 1 sec data samples).

Assuming 1 second samples with data
like `[0, 1, 2, 3, ..., 30]` will yield a result of 15.024942348560666 which is the result of this

[2022-03-09 21:56] mayfield commented on #95
I just copy/pasted your code into a console and it's consistent.

![image](https://user-images.githubusercontent.com/139316/157543077-d84517af-b899-40b8-a6f9-a3ba1c62afec.png)

[2022-03-09 21:56] andrewsuzuki commented on #95
That looks good! The output matches the output of implementation. (Sorry, disregard my deleted comment asking about prefilling, I thought you had done something different)

Then what about the leadin? Is it still necessary if the first 30s is filled?

[2022-03-10 01:22] mayfield commented on #95
Fixed in 855dd527fcbbc51c39d050e43f2bcf22b728afbc

[2022-03-10 01:22] #95 closed

[2022-03-13 19:20] mayfield opened #97 "Allow HR zone overrides"
Gabriel is interested in the coaching aspects of perf and would like to override HR zones.  Presumably some of his athletes are not setting them correctly.

[2022-03-14 21:05] eprowe opened #98 "Missing from Firefox/Mozilla Add-On "Store""
After reinstalling Windows I went to reinstall Sauce for Firefox and it's no longer listed in the add-ons repository.  I used the following link: [https://addons.mozilla.org/en-US/firefox/addon/sauce4strava/](https://addons.mozilla.org/en-US/firefox/addon/sauce4strava/)

Receive Mozilla's "Oops! We can’t find that page" error page.

[2022-03-14 21:10] mayfield commented on #98
Waiting for them to approve a release.  I moved a couple files into a folder called lib and they lost their minds.  The add-on admin's have told me it would likely be resolved soon but that was several days ago and they've been unresponsive.  It's in a wait and see mode, but I'm not optimistic.  It's been very frustrating.

[2022-03-14 21:12] eprowe commented on #98
No worries!  Thought it might be something on me end, or worse, something the team wasn't aware of.  As long as you know it's an issue and it's being worked on!  Thanks for all your hard work.

[2022-03-14 21:15] mayfield commented on #98
Thank @eprowe.  I'll update this issue with any status updates.

[2022-03-15 22:26] mayfield commented on #98
Got a new rejection this morning! Yay!

********
Details:
We have built your add-on on Ubuntu 18.04 using node 14.16.1, npm 6.14.12, but the resulting code is different from the one in the add-on version. You can access our build from https://we.tl/t-ruSzhCH7eW (Link expires in 7 days).
Also, please test your build in a clean environment to make sure it is reproducible. If necessary, update the so

[2022-03-16 19:51] mayfield commented on #98
Surprisingly they approved it.  No comments though, so I don't know if I just convinced them or they realized they were in error.  Pretty sure they're robots actually.

[2022-03-16 19:51] #98 closed

[2022-03-18 15:53] paulshrimpton-BC opened #99 "Peak pace calculation error?"
Got some oddities here. Noticed this on several runs. Specific example:
Peak Pace over 10km = 5:46/km

Select Analysis:
Pace by the Sauce bottle = 4:49/km
Avg pace in the graph = 5:38/km

I think maybe 'elapsed time' is messing it up, because there were several stops???

![peak pace](https://user-images.githubusercontent.com/52052148/159037166-1d61b612-00b4-42a7-917f-5fad00784330.png)

[2022-03-25 21:28] mayfield opened #100 "Custom date ranges for perf page"
Use calendar inputs to offer custom date ranges.

[2022-03-25 21:29] mayfield opened #101 "Exclude data from peaks based on virtual"
Probably just as a view filter.

[2022-03-27 03:51] jstollvt opened #102 "Consider adding ability to find time spent in a power or w/kg range"
I do a fair bit of Sweet Spot training, and it would be helpful to know how much time in a ride was spent in the Sweet Spot range. The exact boundaries of Sweet Spot can vary depending on whose definition you're following, so it might be better to just allow a user-defined range (ex, 84%-97% FTP, or whatever range the user specifies) - this would make this capability a lot more versatile, as it wo

[2022-03-27 20:40] mayfield commented on #102
Hi @jstollvt

I don't know a lot about sweet spot training so bear with me.  Is the normal way this is tracked sort of like time in zones, except you only want to see the time in sweet spot?  Or is it identical to seeing time in zones with just different percentages (i.e. not Coggan based zones).

[2022-04-08 21:46] mayfield opened #104 "Suggestion to implement metric based activity table"
Similar to training peaks stacked weeks/months table..
![image](https://user-images.githubusercontent.com/139316/162536305-3cb8e9ea-43ce-4630-930d-d965914fd4bc.png)

I think the way I'd go about it is to have generic Training Stats chart that lets you specify the time metric, ie. week, month, or even year.  Then if you wanted to have a similar stacking like that pic you could just add two of the p

[2022-04-10 06:50] MrSpock77 opened #105 "Deleted activities not deleted from Sauce"
Problem: Deleted activities are not automatically deleted from Sauce.

Background: Some people (including myself) sometimes use multiple devices to log an activity. I always delete duplicates before making them public, but they still remain in my Sauce if not deleted manually. This is hard to monitor for users that I follow in Sauce Performance. They may put some duplicates public automatically, a

[2022-04-10 07:07] MrSpock77 opened #106 "Activity synchronization with time range"
Request: I would like to be able to set a time range for activity history synchronization, e.g. "last X weeks/months/years".

Background: I have just synchronized my activity history which took about three days (2100 activities). Now I would like to synchronize the history for some other athletes, but that may take many days in total. It would be great to be able to set a time range for each follo

[2022-04-11 03:09] mayfield commented on #106
Thank you @MrSpock77 .  Noted.  I'm working heavily on the Zwift product right now, but I'm in favor of this too.

[2022-04-11 03:10] mayfield commented on #105
I've had a good think about this in the past.  It's a bit more complicated than it might seem, but I do want to improve the synchronization of deleted activities.

[2022-04-12 09:28] MrSpock77 opened #107 "Activities table empty"
I have added a new panel of type "Activities Table", but the table is completely empty. All my activities are synchronized. The table is also empty for other athletes I follow. "Fitness Tracking" or "Peak Performances" doesn't matter.

Browser: Firefox 99.0

[2022-04-12 18:07] mayfield commented on #107
Interesting.

Firefox doesn't load urls with `path//path2` when the extension is packaged.  Debug loaded extensions it works fine and other browsers too.  Fun one!  Easy fix, but I'l have to wait for the FF store gods to approve it.  Sometimes they are insane.

[2022-04-12 18:17] #107 closed

[2022-04-12 19:15] #88 closed

[2022-04-12 19:17] mayfield opened #108 "Dashboard / Activity Feed Filters"
User request notes:

[2022-04-13 08:02] MrSpock77 opened #109 ""Missing TSS" links not working"
Nothing happens when I click on the "Missing TSS" links in the Training panel.

Browser: Firefox 99.0

(I am not sure if that is the same problem as resolved in #107.)

[2022-04-14 00:28] mayfield commented on #109
Yeah, same code and templates affected this one.  The firefox store updated late yesterday, so you should be able to update and resolve both of these.

[2022-04-14 00:28] #109 closed

[2022-04-14 02:52] MrSpock77 commented on #109
Thanks, it works! I really appreciate your work.

[2022-04-15 21:30] mayfield opened #110 "Add summary fields to TCX (possibly FIT) export"
AeroStar wants the summary speed param from TCX files which we don't generate/include.

[2022-04-23 14:44] i-marszi opened #111 "Kudo all"
The "Kudo all" button no longer works.

[2022-04-23 21:37] #111 closed

[2022-04-25 22:39] norbsy opened #112 "Challenges showing up in feed."
I noticed a bunch of challenges showed up for the first time in a long time today.

https://i.imgur.com/dQSd7oN.png

https://imgur.com/texfyOO

[2022-04-25 22:42] mayfield commented on #112
Hi @norbsy this is probably related to #101.  Are you on v8.0.8?   It just went out for chrome this afternoon, so you may need to force an update.

[2022-04-25 23:02] norbsy commented on #112
Thank you. Sorry if this is a duplicate, I didnt think to search in all threads. Github isnt friendly to idiots like me  :)

[2022-04-25 23:04] mayfield commented on #112
No worries.  #111 doesn't really describe your exact problem but they are both tied to an upstream Strava change.  Let me know if 8.0.8 works for you and I'll close this.

[2022-04-25 23:07] norbsy commented on #112
Indeed it did. Shut down Brave and restarted and all good. Thanks for the speedy reply.

[2022-04-25 23:08] mayfield commented on #112
Great, thanks!

[2022-04-25 23:08] #112 closed

[2022-04-26 08:45] v1sionmaster opened #113 "Kudo All doesn't work in Firefox 99.0.1 (64-bit)"
Kudos All works perfectly in MS Edge, but fails in Firefox 99.0.1 (64-bit). The button animates but no action is carried out.
Sauce V 8.0.8 (a67c1b8a23)
I see there was a related report recently that has now been closed, but there was no detailed info from the OP to be able to tell if this is related to the specific browser.
Thanks for all of your wonderful work!!!

[2022-04-26 09:03] mayfield commented on #113
Hi @v1sionmaster.  This is probably minor discrepancy between your sauce versions and what dashboard site Strava is sending you as of right now.  They have been very slowly rolling out a new dashboard to everyone since last week.  I'm not sure how they do it exactly, but it seems to be based on region or account.  I had users reporting bugs to me about the new site almost a week before I was able

[2022-04-29 06:49] MrSpock77 commented on #74
Does this apply to FTP also? I have changed my own weight and FTP in the Strava settings, but activities performed after this change still show the initial values. FTP and weight history are not updated automatically.

[2022-04-29 19:17] mayfield commented on #74
You're correct @MrSpock77.  I updated the title to reflect this.

[2022-04-29 19:18] mayfield commented on #86
Completed, forgot to link commits to this issue.

[2022-04-29 19:18] #86 closed

[2022-04-29 19:19] mayfield commented on #84
Related to #74

[2022-04-29 19:20] mayfield commented on #41
I'm going to close this as you can use the keyboard or manual entry in the advanced panel.

[2022-04-29 19:20] #41 closed

[2022-04-29 19:21] v1sionmaster commented on #113
Thanks Justin! J

From: Justin Mayfield ***@***.***
Sent: 29 April 2022 20:18
To: SauceLLC/sauce4strava
Cc: Tim; Mention
Subject: Re: [SauceLLC/sauce4strava] Kudo All doesn't work in Firefox 99.0.1 (64-bit) (Issue #113)

Gonna close this one out, please reopen if you're still having issues with all the latest versions.

—
Reply to this email directly, view it on GitHub <https://github.com/SauceLLC

[2022-05-03 21:45] dvvilkins commented on #100
Agreed, or at least offer a 6 week option so we can look at the 42-week window on which CTL is based. Right now, there's only 4 and 12 week views.

[2022-05-03 21:48] mayfield commented on #100
@dvvilkins Not a solution but as a hack you can write in any number in the url and hit enter.  like ..

https://www.strava.com/sauce/performance/fitness/139587/6/weeks

Replace my strava ID with yours, or just edit the number and metric;  weeks, months, and years are supported.

[2022-05-03 21:52] dvvilkins opened #114 "Incorrect intensity calculation for multiple rides"
The Daily Summary in the Activity Details (right rail of Fitness Tracking) incorrectly calculates IF when there are multiple activities on the same day. I've pasted an example for a day containing two activities, with an IF of 63% and 65% each. The daily summary therefore should be somewhere between the two (64% ish, however it shows 93%.

<img width="262" alt="image" src="https://user-images.gith

[2022-05-03 22:31] mayfield commented on #114
Nice catch.

[2022-05-03 22:32] #114 closed

[2022-05-03 22:34] dvvilkins commented on #100
That's solution enough for me. Thanks Justin!

[2022-05-07 08:27] Santi-Nieva opened #115 "Mr"
Hi, I have been a patron for sauce for strava for 2 months now. This morning i can only access the free features and it is asking me to become a patron. However, i can see that on the 3rd of May a new payment went in so I guess I should have all the features available. please could you help me to recover my patron account?

Thank you

Santi

[2022-05-07 08:31] mayfield commented on #115
Hi @Santi-Nieva

Can you try relinking to patreon using this link: https://www.saucellc.io/patreon-oauth

If that doesn't work, send me an email to support@saucellc.io  and I'll get your squared away.

[2022-05-07 08:31] #115 closed

[2022-05-07 13:08] Santi-Nieva commented on #115
Thanks a lot. All sorted now.
Santi
    On Saturday, May 7, 2022, 09:32:04 AM GMT+1, Justin Mayfield ***@***.***> wrote:

Closed #115.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-05-10 07:34] MrSpock77 opened #116 "Activity title changes not updated"
When an athlete changes the title of an activity after it has been imported, Sauce still shows the original title. I have tried to reimport the activity, but the title remains unchanged. Is it be possible to update the title in the database every time an activity is opened in the browser? Otherwise, let the reimport feature update the title.

[2022-05-10 07:42] mayfield commented on #116
I actually do have code for this that should be updating type, name and description when you visit the analysis page for an activity.  Just to double check, you're visiting the `/activities/<id>` page for the activity in question (waiting at least 2 seconds too) and then when going back to Sauce Performance it's still the old meta data?

[2022-05-10 07:43] mayfield commented on #116
https://github.com/SauceLLC/sauce4strava/blob/3dabe4dce0cca2a1efe8ac9375f7168f3e30f801/src/site/analysis.js#L3229-L3259

[2022-05-10 07:52] MrSpock77 commented on #116
Yes, i am visiting `/activities/<id>`, but the Activities Table is not updated.

Browser: Firefox 100.0
Sauce: 8.0.8

[2022-05-10 07:54] mayfield commented on #116
Must be a regression then.  I'll have a look.

Thank you.

[2022-05-10 07:56] mayfield commented on #116
@MrSpock77 one more question.  If you restart FireFox is the meta data updated?  I have a pretty complicated database caching system and if the restart affects this, then I've got a bug there.

[2022-05-10 07:58] MrSpock77 commented on #116
No

[2022-05-22 17:25] xenius opened #118 "Dark Mode bug?"
Hi!
For a while, there is a dark mode bug, at least for me. Possible to fix?
https://i.imgur.com/Ma9EvKb.png

[2022-05-22 18:15] mayfield commented on #118
Hi what version of Sauce do you have? Strava updated their site and only the newest version work for that now.

[2022-05-22 19:22] mayfield commented on #118
Never mind, looks like they changed the page yet again.

[2022-05-22 19:43] #118 closed

[2022-06-02 07:23] mayfield opened #119 "Need more CSS resets for sauce performance"
![image](https://user-images.githubusercontent.com/139316/171575914-b43f93b2-fc43-404d-868f-bbd6240337bf.png)

Brief inspection looks like min-heights were added to more things.

[2022-06-02 07:36] mayfield commented on #119
![image](https://user-images.githubusercontent.com/139316/171578369-eae78abf-e5e3-4062-a84d-7dfa960a41c9.png)

Looks like we should try to nuke this entire stylesheet actually.  Removing it restores normality and the note sort of explains why it was added the way it was.  Fine for normal strava but not for us.

[2022-06-02 08:09] #119 closed

[2022-06-06 20:52] mayfield commented on #105
Support email notes from user:

And my email response with some musings:

[2022-06-07 23:58] mayfield opened #120 "Sync athlete name changes"
Detect when a sync'd athlete's meta data changes and update the Athlete record.

[2022-06-08 00:00] mayfield commented on #120
And for anyone that's running into this now, here is a hack to manually update name info.

1. Go to activity of sync'd athlete.
2. Click sync button.
3. Uncheck the Sync enabled box.
4. Reload page.
5. Click sync button.
6. Click 'Enable sync...'

[2022-06-23 00:40] mayfield opened #122 "Crosshair option for training chart(s)"
![image](https://user-images.githubusercontent.com/139316/175183434-70288df2-7d58-4ea2-bf06-4f529f883143.png)

[2022-07-06 08:13] mostafamossaad opened #123 "Themes/Dark Mode broken in Firefox"
Hello. Sorry if I'm reopening this (I checked #118 )
System preferences (My settings) and dark mode don't seem to be working for me.
The top bar, for example, turns from white to a more "sauce" like color.
Thank you.

[2022-07-06 08:34] mostafamossaad commented on #74
Hello, not sure if this is the right place for this, but here goes.
I have my weight syncing from another platform to Strava. Which shows in "My Profile".
However, it doesn't seem to be reflected in the Sauce section of "weight" on any of my activities. Is this the issue here?
I played around a bit and noticed that if I removed the (tags?) in "Advanced Option" like

"weight_lastknown":
"weight_ove

[2022-07-06 08:35] mostafamossaad commented on #84
Hello, not sure if this is the right place for this, but here goes.
I have my weight syncing from another platform to Strava. Which shows in "My Profile".
However, it doesn't seem to be reflected in the Sauce section of "weight" on any of my activities. Is this the issue here?
I played around a bit and noticed that if I removed the (tags?) in "Advanced Option" like

"weight_lastknown":
"weight_ove

[2022-07-06 20:40] mayfield commented on #123
Hi @mostafamossaad

Can you attach a screencap?  Mine still looks okay (to me)..

![image](https://user-images.githubusercontent.com/139316/177639059-80d0c4e7-f672-48cf-b2be-33e285894970.png)

Sometimes Strava rolls out site changes very slowly and it can take a week or two to reach all users, so you might have a new version of that page that I'm not seeing yet.

[2022-07-06 20:56] mostafamossaad commented on #123
Hi Justin,
Yours look OK than mine :)
________________________________
From: Justin Mayfield ***@***.***>
Sent: Wednesday, July 6, 2022 10:41 PM
To: SauceLLC/sauce4strava ***@***.***>
Cc: mostafamossaad ***@***.***>; Mention ***@***.***>
Subject: Re: [SauceLLC/sauce4strava] Dark Mode bug? (Issue #123)

Hi @mostafamossaad<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%

[2022-07-06 21:17] mostafamossaad commented on #74
I'm so confused right now I don't even know where to begin.

I'm not even sure what you meant by "syncing this athlete with Sauce Performance".

So, here's what I'm doing, and here's what I hope I get.

I'm synchronizing my weight from a platform to my Strava profile, in the hopes of having this day's weight reflect on my activities.

This "should" happen daily. That's why I was wondering if this

[2022-07-06 21:31] mayfield commented on #74
The optional patreon feature set Sauce Performance lets you sync an athlete so you can do perf mgmt charts and other multi-activity time-series calcs like ATL/CTL.

![image](https://user-images.githubusercontent.com/139316/177646331-00311d79-895c-4471-9062-2a728a800efd.png)

I'm not sure you're using this feature set or not, but it changes the way FTP and weight are handled by Sauce.

If you're no

[2022-07-06 21:49] mostafamossaad commented on #74
I'm definitely not using Sauce Performance or any kind of athlete sync.
And if this is the case, how can I "clear" the values and force a revert to the values in my Strava profile?
________________________________
From: Justin Mayfield ***@***.***>
Sent: Wednesday, July 6, 2022 11:31 PM
To: SauceLLC/sauce4strava ***@***.***>
Cc: mostafamossaad ***@***.***>; Comment ***@***.***>
Subject: Re: [Sauce

[2022-07-06 22:04] mayfield commented on #74
From my last post, try this, "click the weight on one of your activities and just delete the value and hit enter, that should have the same effect."

If that doesn't work, hit me up at support@saucellc.io

[2022-07-07 07:20] mostafamossaad commented on #74
I think it did. And I think I get it now. Even though some are now showing in blue on their own, and some are still in orange, even after deleting the values, pressing "Enter" and refreshing the page.

How can I try Sauce Performance/Athlete sync? Even though I'm a TrainingPeaks premium, I'd like to take a look if that's OK.
PS: I understand the Patreon membership option, just wondering if there c

[2022-07-07 22:09] mayfield commented on #74
Pretty much, except as per this issue, Sauce isn't syncing with Strava's profile value so you have to manually manage the weight and FTP values yourself in Sauce Performance's athlete settings.

They can, but aren't required to.  However, Strava ignores this value altogether and the Sauce extension doesn't have access to the original FIT file either.  Sauce (or any browser extension) can only see

[2022-07-08 00:53] mostafamossaad commented on #74
Well, I think I now finally understand the original issue posted here. Cool. Thanks. And best of luck working on it.

My college programming days are way behind me, but couldn’t you access the FIT file by using the “export_original” (parameter?). You’ll need to put the file “somewhere” and (scour?) it for the data you need? (Weight and FTP).

Anyway. Like I said, I’m taking so much of your time. I

[2022-07-08 01:40] mayfield commented on #74
If all else fails I might try this but I think I have other means that won't require such a big hammer. See #84

[2022-07-08 08:51] mostafamossaad commented on #123
I thought I already did.
One. More. Time.
________________________________
From: Justin Mayfield ***@***.***>
Sent: Friday, July 8, 2022 3:41 AM
To: SauceLLC/sauce4strava ***@***.***>
Cc: mostafamossaad ***@***.***>; Mention ***@***.***>
Subject: Re: [SauceLLC/sauce4strava] Dark Mode bug? (Issue #123)

@mostafamossaad<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fm

[2022-07-08 10:42] metyl commented on #84
@mayfield can you use for calculations and show in the widget weight from `/power_data`, if it's available, instead of weight from user profile?

I'm auto-updating my weight at Strava everyday in the morning and it's seems keep track of weight history.

[2022-07-08 20:33] mayfield commented on #123
@mostafamossaad Looks like you might need to use the GitHub web interface instead of an email attachment.

[2022-07-08 20:34] mayfield commented on #84
@metyl Yup, that's the plan.

[2022-07-08 20:46] mostafamossaad commented on #123
![Capture](https://user-images.githubusercontent.com/3321793/178067810-1c9dd458-bb01-448f-92cb-4e5c3b2f176e.PNG)
The third time should be a charm :)

[2022-07-08 20:46] mostafamossaad commented on #84
@metyl Sorry to butt in. But what service are you using to auto-update your weight in Strava every morning?

[2022-07-08 21:26] #123 closed

[2022-07-08 21:32] metyl commented on #84
@mostafamossaad withings scale plus applet at ifttt.com

[2022-07-11 13:40] 1cavr opened #124 "patron at $2 but not working"
sorry don't know how else to contact u. i've been patron for a couple of months at first i was able to see the Fitness Tracking and Peak Performances but now it just kicks me to a screen that says I need to be a patron to access. When i click on that it shows that i'm a patron and i'm being billed at $2 but i can't access all those features. what do i do?

[2022-07-11 19:17] mayfield commented on #124
Hi @1cavr sounds like it just got unlinked.  Click on the "Link with patreon" link in the options panel or just click here from the browser you use sauce on, https://saucellc.io/patreon-oauth

[2022-07-13 13:42] 1cavr commented on #124
did that... now it's showing me nothing when i click on Fitness Tracking and Peak Perf ...  BTW, this problem is when i'm using my firefox browser...

this morn i started enabling sauce on Chrome and it looks like its connected and loading in my history for the analytics pages. i sure would like to get firefox solved tho as its my preferred browser... thx for any guidance.

[2022-07-14 01:43] mayfield commented on #124
@1cavr Let's pick this up via email.  Can you send me message with a screencap of what you're seeing in FF to support@saucellc.io?

[2022-07-18 01:53] #124 closed

[2022-07-18 01:53] mayfield opened #125 "Show min HR"
User feedback request...

[2022-07-22 09:32] mostafamossaad commented on #123
Hi @mayfield . I was looking into Strava today and it was dark and I thought I'd tell you.
I hadn't realized this was closed as completed 14 days ago (I wasn't having dark mode all this time).
What about the maps though? Can they be "normal" even within the dark view?
Thanks

[2022-07-22 21:35] mayfield commented on #123
Hi @mostafamossaad the Firefox release with that patch went out yesterday.  There is no mechanism to revert the maps as of now, but I'll consider it for the future.

[2022-07-22 21:38] mostafamossaad commented on #123
Thanks. Good luck

[2022-07-31 19:21] Irongladiator opened #128 "Sauce Performance"
Sauce Performance Fitness Tracking and Peak Performances are no longer working on Strava. Clicking on link to those options leads to page asking me to become a patron, but I'm already a patron. Sauce still works on activities.

[2022-08-03 18:54] mayfield commented on #128
Try this link https://saucellc.io/patreon-oauth . If site settings are cleared it will "unlink".

[2022-08-05 21:34] mayfield opened #129 "Unsync'd athletes peaks showing up in peak perf tables"
Unsync'd athletes peak performances still show up in tables using the "All Athletes" option.

[2022-08-07 18:58] #128 closed

[2022-08-12 20:02] sselfridge opened #130 "When viewing a run segment, the sauce tool push the bottom few options off the page"
The sauce Tools are making the div taller than strava's CSS allows for.  Had to go to the div with class sauce-btn-group and set it to display:none to view a comparison for a running segment.

With Sauce:
![image](https://user-images.githubusercontent.com/44272343/184433834-207cd276-ca93-4fc0-80b8-61fce7171793.png)

With out Sauce:
![image](https://user-images.githubusercontent.com/44272343/184433

[2022-08-14 20:47] #130 closed

[2022-08-14 20:51] mayfield commented on #130
Hi @sselfridge

Fix is in, but wanted to mention you might like the "Use detailed run segments" option, which isn't affected by this and is better IMO.  Also if you're not a patreon you can hide those buttons with the "Hide Sauce bonus features" option too.

[2022-08-14 21:25] sselfridge commented on #130
@mayfield thanks for the quick fix! I'll look into that detailed run but, not used to running Strava much.  Cheers

[2022-08-16 18:22] lcarcamo1526 opened #131 "Live Segment and Perf Predictor does not work on Firefox Linux"
Greeting,
First thank you for this incredible extension.
I would like to report a bug on Firefox running on Arch Linux
when i try to download a live segment or see the Perf predictor this button don't trigger any action, I've tried in Chromium and it works well, I've my account linked with Patron, here is my user agent if you needed:

[code]

[2022-08-16 21:14] mayfield commented on #131
Hi @lcarcamo1526 they are both working on my firefox 103.0.1 machine.  Can you hit F12, reload the page and try it again, then report any logs in the Console tab?

[2022-08-16 21:14] mayfield commented on #131
Oh and can you send me the activity you are testing with?  It could be specific to that one/type.

[2022-08-16 22:12] lcarcamo1526 commented on #131
It happen in all the activities, included mines.

Those are the console logs, when i enter in the an activity website, after click the buttons I'm not getting any warning.

[code]

[2022-08-16 22:14] mayfield commented on #131
Looks like incognito mode maybe?  The indexedb calls are failing which firefox disables for incognito.  That or perhaps another extension that attempts to block that?

[2022-08-16 22:14] lcarcamo1526 commented on #131
@mayfield this was the [original activity ](https://www.strava.com/activities/7623351321)

[2022-08-16 22:16] lcarcamo1526 commented on #131
Makes sense, Firefox has enable Enhanced Tracking Protection on Strict and "Do not track" is on.
I'm also using Ublock Origin

[2022-08-16 22:18] mayfield commented on #131
Last I checked those settings should be fine as long as you're not using incognito.  Let me check again.

[2022-08-16 22:22] mayfield commented on #131
Yeah, I actually have my firefox setup the same way;  ublock and strict ETP.  Any other extensions that might be interfering?  Or perhaps out of disk space?

[2022-08-16 22:22] lcarcamo1526 commented on #131
You're right, I was not in Incognito but Firefox has custom settings to not save history, i enabled that option and it worked again!

Thank you for incredible support!

[2022-08-16 22:23] mayfield commented on #131
Oh good, glad we figured it out!

Cheers!

[2022-08-16 22:23] #131 closed

[2022-08-18 08:52] dunqdunq opened #132 "peak power skewed by paused tracks"
I have several instances where my peak results at 1 min, 2 min etc are skewed because I was stopped at the lights, and then took off quick.  This example screenshot shows the 490W over 2min where data is missing for the first 1m20s there.

![Screenshot 2022-08-18 10 39 53](https://user-images.githubusercontent.com/111495667/185353574-560eb77e-1a04-477f-9de2-aa21505d7e96.png)

[2022-08-18 21:10] mayfield commented on #132
Hi @dunqdunq can you send me the url with that analysis selection?

[2022-08-18 21:21] dunqdunq commented on #132
https://www.strava.com/activities/7657491836/analysis/733/782

On Thu, 18 Aug 2022 at 23:10, Justin Mayfield ***@***.***>
wrote:

[2022-08-27 19:15] mayfield commented on #100
Another user request for this ...

[2022-09-27 09:21] MarcelMoes opened #133 "Major Rubberbanding"
Hi,

I just tried a pace partner ride on zwift and turned on Sauce. As soon as it came on I experienced some major rubberbanding on the screen. Turned it of and rubberbanding dissappeared.
I have a strong enough pc system and I usually never experience rubberbanding.
The ride was on Wandering Flats Makuri with coco pace partner.

Love the UI layout however not the rubberbanding.

Any ideas on what

[2022-09-27 10:33] mayfield commented on #133
Hi @MarcelMoes, just to clarify what you mean by rubberbanding.  This is the behavior seen in meetups where your group sticks together.  But you were observing your avatar being stuck to the pace partner?  Or some other sort of performance degredation?

In either case, it might be helpful to examine your sauce logs and the zwift logs.  If you can attach them here, I'll see what I can figure out.

[2022-09-27 11:24] MarcelMoes commented on #133
Hi Justin,
Rubberbanding is a graphics issue that happens at a certain framerate as I have understood from people more knowledgable than me. What happens is it looks like the avatar is being pushed and then pulled back and forth. I have recorded a short video of it happening while using Sauce. However I didn't have the Sauce overlay on OBS so it isn't showing. I will attach my Zwift log as well. I

[2022-09-28 11:45] MarcelMoes commented on #133
Hi Justin,

I have done some more riding today. Did a pace partner ride in Watopia with Sauce on and did not experience any problems.
I also did a 45minute race in Watopia with Sauce on and again did not experience any problems. To finish of I did a 10minute ride with Coco pacepartner on Wandering Flats, the same route where the rubberbanding happened and also here I did not experience any rubberb

[2022-09-28 11:46] mayfield commented on #133
Your ears must have been burning, I was just analyzing your logs!

On Wed, Sep 28, 2022 at 5:45 AM MarcelMoes ***@***.***> wrote:

[2022-09-28 12:20] mayfield opened #134 "Responsive mode breaks Clip ride"
It might break some of the other analysis sub pages.  We probably need to edit the regex for where analysis code loads to exclude these.

[2022-09-28 12:52] mayfield commented on #133
So those logs look pretty clean.  Really clean actually.  I've not experimented with this personally, but your zwift frame rate is probably higher than it needs to be.  Unless you're running a gaming monitor you probably won't notice much different above 60fps.  You could set the FPS cap for Zwift in the Nvidia tools to like 65fps and it might provide some headroom to avoid any lag.  Just a though

[2022-09-28 12:52] #133 closed

[2022-10-11 08:32] v1sionmaster commented on #113
Hi Justin!

THANKS for the quick reply!

Yes it appears that Firefox has v7.35 from November 2021

Edge shows 8.0.8

I get this back from the Web Developer Tools NodeList [ div.content.react-feed-component ] which I assume is the same as ‘nothing back’ and = the old Strava dashboard..

None of this is a big concern for me, I just wanted to alert you to it in case others report the same issue J.

B

[2022-10-11 08:51] jstollvt commented on #102
Hi, Justin - essentially, Sweet Spot is another zone - it ranges from upper
Tempo to just shy of FTP. There are slight variances in the zone's
boundaries, depending on which training plan/philosophy you are using.

TrainerRoad Sweet Spot range is defined as 88-94% of FTP (
https://www.trainerroad.com/blog/sweet-spot-training-everything-you-need-to-know/
)
Andrew Coggan apparently defines it as 88-

[2022-10-16 17:52] fernrees opened #135 "New Activities Won't Sync"
For roughly the last 3 weeks my activities won't sync to Sauce despite being in strava.  I've tried manually syncing but it still doesn't update.
![image](https://user-images.githubusercontent.com/8032128/196050441-2425d00a-712e-4936-8faa-fd2f6b214ce6.png)

[2022-10-16 21:14] mayfield commented on #135
Hi @fernrees Few questions:

Is this your profile or another users?

Can you send a pic of the sync panel?

If you right click -> Inspect and navigate to the console tab, do you see any errors or warnings?

If you're super technical I have one more thing that would be very useful to see, which is the console output from the Sauce "background" page.  I'll put the brief instructions here but if it's

[2022-10-27 06:59] Fabiocp85 commented on #28
Any chance that we can simply exclude running power from peak charts for now? Running power has recently been added to Garmin watches (in beta phase, but is soon to be a public release), which means that lots of users will suddenly have power attached to their runs and this confusion of cycling power vs. running power will start affecting lots of people.
I don't want to disable power on my runs be

[2022-11-10 22:56] snguyen268 opened #136 "Sauce for Strava down?"
Hi,

I noticed for the past 2 days, Sauce for Strava does not show on my strava activity anymore. When I click on peak performance or fitness page, I only saw a blank page. Is the extension down?

Thanks so much,
Son

[2022-11-10 22:57] mayfield commented on #136
Hi @snguyen268 it should be working, can you hit F12 and report back with any messages you see in the console tab?

[2022-11-10 23:00] snguyen268 commented on #136
![Screen Shot 2022-11-10 at 6 00 18 PM](https://user-images.githubusercontent.com/42554578/201223939-90946cad-d039-4c29-b4eb-7729c6267c6d.png)

Here is what I got. Thanks so much for the quick response!

[2022-11-10 23:04] snguyen268 commented on #136
The above one was when I got the Peak performance page on sauce for strava. This one below is when I am on my activity dashboard
![Screen Shot 2022-11-10 at 6 03 47 PM](https://user-images.githubusercontent.com/42554578/201224485-2721322c-2d04-4e9b-b174-3e20b240fe38.png)

[2022-11-10 23:05] mayfield commented on #136
First thing I'm noticing is another extension is changing some global constructs. Can you try disabling some of the other extensions temporarily?

[2022-11-10 23:11] snguyen268 commented on #136
I see. I just tried to disabled and restarted Chrome and it seems to have fixed it. Apologies for not trying this before posting. Thanks so much for your help!

[2022-11-10 23:12] mayfield commented on #136
No worries, glad you're back up!

[2022-11-10 23:12] #136 closed